@import "./variabless.scss";

body {
    margin: 0;
    box-sizing: border-box;
    background-color: $veryLightGray;
}

a {
    text-decoration: none;
}

.container {
    width: 700px;
    margin: 30px auto;

    @media (max-width: $md) {
        width: 300px;
    }
}