// text styles
$fontFamily: 'Segoe UI';
$h1Size: 50px;
$h2Size: 30px;
$h3Size: 20px;
$btnFont: 16px;

// colors styles
$deepGray: rgb(15, 23, 42);
$darkGray: rgb(30, 41, 59);
$grafitGray: rgb(71, 85, 105);
$lightGray: rgb(226, 232, 240);
$veryLightGray: rgb(241, 245, 249);
$white: rgb(255, 255, 255);
$dangerRed: rgb(185, 28, 28);
$darkenRed: rgb(69, 10, 10);

//responsive
$md: 768px;